<h1>Square Calculator</h1>
<%= form_tag('/square/results', method: :get) do %>
  <label for="users_number">Enter a number:</label>
  <%= text_field_tag :users_number %>
  <%= submit_tag 'Calculate square' %>
<% end %>
