<h1>Howdy!</h1>
<p>Welcome to the Rails App. Choose a calculator to get started.</p>
<%= link_to 'Go to Square Calculator', '/square/new' %> | 
<%= link_to 'Go to Square Root Calculator', '/square_root/new' %> | 
<%= link_to 'Go to Payment Calculator', '/payment/new' %> | 
<%= link_to 'Go to Random Number Generator', '/random/new' %>
