<h1>Welcome to the Rails App!</h1>
<p>Define some routes to start working with your calculators.</p>
<%= link_to 'Go to Square Calculator', '/square/new' %> | 
<%= link_to 'Go to Square Root Calculator', '/square_root/new' %> | 
<%= link_to 'Go to Payment Calculator', '/payment/new' %> | 
<%= link_to 'Go to Random Number Generator', '/random/new' %>
